body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

.container {
    margin-top: 100px;
    background: white;
    padding: 40px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.subheading {
    color: gray;
    margin-bottom: 20px;
}

button {
    padding: 8px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #333;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}