body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.05);
    padding: 50px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 28px;
    letter-spacing: 1px;
}

.subheading {
    color: #bbb;
    margin-bottom: 30px;
}

.upload-section {
    margin-bottom: 20px;
}

.upload-btn, .predict-btn {
    padding: 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.upload-btn {
    background: #222;
    color: #f5c542;
    border: 1px solid #f5c542;
}

.upload-btn:hover {
    background: #f5c542;
    color: black;
}

.predict-btn {
    background: #f5c542;
    color: black;
}

.predict-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #f5c542;
}

.preview-container {
    margin-top: 20px;
}

#preview {
    max-width: 200px;
    border-radius: 10px;
    display: none;
}

.result-box {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #f5c542;
}